.site__wrapper {
  padding: 50px 0;
}
.item {
  border-radius: 5px;
  overflow: hidden;
  box-shadow: -1px -1px 10px #ccc, 1px 1px 10px #ccc;
}
.img {
  background-color: #f6f7f8;
  height: 200px;
  overflow: hidden;
  margin-bottom: 10px;
  position: relative;
}

.author__img {
  width: 50px;
  height: 50px;
  margin-right: 10px;
  border-radius: 50%;
  background-color: #f6f7f8;
}
.author__img img {
  border-radius: 50%;
}
img {
  width: 100%;
}
.author {
  padding: 30px 0;
  display: flex;
  justify-content: flex-start;
}
.author__desc {
  width: 200px;
}
.text {
  padding: 10px;
}
.animated-bg {
  background-image: linear-gradient(
    to right,
    #f6f7f8 0%,
    #edeef1 10%,
    #f6f7f8 20%,
    #f6f7f8 100%
  );
  background-size: 200% 100%;
  animation: bgPos 1s linear infinite;
}
.bg-text {
  border-radius: 50px;
  display: inline-block;
  margin: 0;
  height: 10px;
  width: 100%;
  background-color: #f6f7f8;
}
@keyframes bgPos {
  0% {
    background-position: 50% 0;
  }

  100% {
    background-position: -150% 0;
  }
}
