body {
  background-color: #b8c6db;
}
li {
  list-style-type: none;
  font-size: 18px;
  cursor: pointer;
}
ul {
  padding: 20px 0;
}
a {
  color: #fff;
  display: block;
}
.container {
  padding-top: 100px;
}
.wrapper {
  width: 600px;
  margin: 0 auto;
  background-color: #fff;
  padding: 50px;
  border-radius: 10px;
}
.btn {
  background-color: #8e44ad;
  color: #fff;
  width: 100%;
}
